body{
    background-color:black;
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
}
.post{
    background-color:beige;
    width: 350px;
    height: 800px; 

}
.cabezera{
    display:flex;
    align-items: center;
    justify-content: space-between;
    margin-top: 10px;

}
.cabezera2{
    display:flex;
    justify-content: flex-start;
}

.contenido1{
    display:flex;
    align-items: center;
    justify-content: space-between;
    margin-top: 10px;
    
    
}
.cabezera1{
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 5px;
}

.texto1{
    margin: 0px;
}

.icono-grande{
    font-size: 30px;
}

img{
    width: 100%;
    display:flex;
    object-fit: contain;
}

.imagen{
    display: flex;
    width: 100%;
}